.add-link-component {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.75rem;
  background: var(--light-grey);
}

.add-link-component-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.add-link-component-header > .bodyM {
  cursor: pointer;
}

.add-link-component-header > .bodyM:hover {
  color: var(--red);
}

.add-link-component-header-index {
  font-size: 1rem;
  font-weight: 700;
  line-height: 150%;
  color: var(--grey);
}
