header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background: var(--white);
  border-radius: 0.75rem;
  width: 100%;
  align-items: center;
}

header > img {
  height: 2rem;
}

.header-buttons-container {
  display: flex;
  gap: 1rem;
}

.header-tab-container {
  padding: 0.75rem 1.75rem;
  border-radius: 0.5rem;
  display: flex;
  cursor: pointer;
}

.header-tab-container > p {
  color: var(--grey);
}
.header-tab-container > img {
  margin-right: 0.5rem;
}

.header-tab-container-active {
  background: var(--light-purple);
}

.header-tab-container-active > img {
  filter: invert(25%) sepia(65%) saturate(10000%) hue-rotate(247deg)
    brightness(100%) contrast(104%);
}

.header-tab-container-active > p {
  color: var(--purple) !important;
}
