.LoginPage {
  background: var(--white);
}

.loginPage-logo-container {
  width: 100%;
  padding-bottom: 3.5rem;
  background-color: var(--light-grey);
  display: flex;
  justify-content: center;
}

.loginPage-logo-container > img {
  height: 2.5rem;
}

.loginPage-form-container {
  width: 100%;
  padding: 2.5rem;
}

.loginPage-form-container-header {
  margin-bottom: 2.5rem;
}

.loginPage-form-container-header > .headingM {
  margin-bottom: 0.5rem;
}

.loginPage-form-container-body {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.loginPage-form-container-body > p {
  color: var(--grey) !important;
}

.loginPage-form-container-body-register {
  width: 100%;
  text-align: center;
}

.register-link {
  color: var(--purple) !important;
  cursor: pointer;
}
