.profile-details-wrapper-desktop {
  width: calc(100% - 32rem);
  height: calc(100vh - 10rem);
}

.profile-details-wrapper-mobile {
  width: 100%;
  height: calc(100vh - 10rem);
}

.profile-details {
  width: 100%;
  height: 90%;
  background: var(--white);
  padding: 2.5rem;
  border-radius: 0.75rem 0.75rem 0 0;
}

.profile-details > .bodyM {
  margin-bottom: 2.5rem;
}

.profile-details > .bodyM {
  color: var(--grey);
}

.profile-details-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  overflow-y: scroll;
  height: 80%;
  padding-right: 0.5rem;
}

.profile-details-content::-webkit-scrollbar {
  width: 0.25rem;
}

.profile-details-content::-webkit-scrollbar-thumb {
  background: var(--dark-grey);
  border-radius: 0.125rem;
  height: 5rem;
}

.profile-details-content-image,
.profile-details-content-user-data {
  width: 100%;
  padding: 1.25rem;
  gap: 1rem;
  border-radius: 0.75rem;
  background: var(--light-grey);
}
.profile-details-content-image {
  display: grid !important;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 2fr;
}

.profile-details-content-image-mobile {
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  border-radius: 0.75rem;
  background: var(--light-grey);
  padding: 1.25rem;
}

profile-details-content-image-mobile .profile-details-content-user-data {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile-details-buttons {
  background: var(--white);
  width: 100%;
  height: 10%;
  display: flex;
  padding: 0 1.5rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 0.75rem 0.75rem;
  border-top: 1px solid var(--borders);
}

.profile-details-user-input-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
