.custom-tab-wrapper {
    padding: 0.75rem 1.75rem;
    border-radius: 0.5rem;
    border: none;
    color: var(--grey);
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: pointer;
}

.custom-tab-wrapper > img {
    margin-right: 0.5rem;
    width: 1.25rem;
    height: 1.25rem;
}

.custom-tab-wrapper-active {
    color: var(--purple) !important;
    background-color: var(--light-purple);
}

.custom-tab-wrapper-active > img,
.custom-tab-wrapper:hover > img {
    filter: invert(25%) sepia(48%) saturate(10000%) hue-rotate(247deg)
        brightness(99%) contrast(104%);
}

.custom-tab-wrapper:hover {
    color: var(--purple);
}
