.footer {
  width: 100%;
  padding: 30px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  /* position: sticky; */
}

.footer .flex :is(a:link, a:visited, a:hover, a:active) {
  color: #707070;
  text-decoration: none;
}

.footer div:first-child() {
  margin-bottom: 40px;
}
