.galery {
  display: flex;
  width: 60%;
  gap: 40px;
}

.galery--left-col {
  display: flex;
  flex-direction: column;
  width: 120px;
  justify-content: space-between;
}
.big-image {
  width: 540px;
  height: 600px;
  aspect-ratio: 1;
  border-radius: 10px;
}

.small-image {
  width: 120px;
  aspect-ratio: 1;
  border-radius: 10px;
  cursor: pointer;
}
