* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
}

.app {
  margin: 20px auto;
  max-width: 1440px;
  width: 1300px;
}

.flex {
  display: flex;
}

.m-right-auto {
  margin-right: auto;
}

.bold {
  font-weight: bold;
}

.space-between {
  justify-content: space-between;
}

.icon {
  filter: invert(63%) sepia(11%) saturate(6%) hue-rotate(1deg) brightness(94%)
    contrast(88%);
  cursor: pointer;
}

html {
  min-height: 100vh;
}
