:root{
    --orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);
    --very-dark-blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(223, 64%, 98%);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

p{
    font-size: 16px;
}

.app{
    width: 1000px;
    margin: 0 auto;
}

.orange-button{
    border-radius: 8px;
    border: none;
    background-color: var(--orange);
    height: 50px;
    color: white;
}

.border-radius{
    border-radius: 8px;
}