.product{
    margin-top: 20px;
    display: flex;
    gap: 2rem;
    position: relative;
}

.product--galery{
    padding: 40px;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(22%, 4);
    grid-gap:20px;
    grid-auto-rows: minmax(80px, auto);
    /* border: 1px solid red; */
}

.product--galery--main-photo{
    width: 100%;
    grid-column: 1 / 5;
}

.galery--small-image{
    width: 100%;
    grid-row: 2;
    border: 2px solid transparent;
}

.galery--small-image:hover{
    opacity: 60%;
    transition: 0.5s;
}

.product--informations{
    /* border: 1px solid blue; */
    padding: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}

.product--informations h1{
    font-size: 44px;
}

.product--informations--brand{
    text-transform: uppercase;
    font-size: 10px;
    color: var(--orange);
    font-weight: 700;
    letter-spacing: 1.5px;
}



.product--informations--description{
    font-size: 16px;
    color: var(--dark-grayish-blue);
    line-height: 20px;
}

.product--informations--price{
    align-items: center;
    display: flex;
    align-items: center;
    gap: 12px;
}

.product--informations--price--current{
    font-size: 22px;
}

.product--informations--price--discount{
    color: var(--orange);
    background: var(--pale-orange);
    padding: 3px 6px;
    font-size: 12px;
    font-weight: 700;
    border-radius: 3px;
}

.product--informations--old-price{
    color: var(--grayish-blue);
    text-decoration: line-through;
}

.product--informations--buttons{
    display: flex;
    justify-content: space-between;
}

.product--informations--buttons--quantity{
    display: flex;
    justify-content: space-between;
    width: 38%;
    align-items: center;
    background: var(--light-grayish-blue);
    padding: 0 20px;
}

.product--informations--buttons--quantity img{
    align-self: center;
}

.product--informations--buttons--quantity p{
    font-weight: 700;
    font-size: 16px;
}

.product--informations--buttons--submit{
    width: 58%;
}

.product--informations--buttons--submit > img{
    fill: white;
    margin-right: 10px;
}

.product-inspect-photos{
    position: absolute;
    width: 500px;
    height: fit-content;
    border: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;  
}

.product-inspect-photos--close{
    width: 20px;
    height: 20px;
    margin-left: calc(100% - 20px);
    margin-bottom: 20px;
    position: relative;
    z-index: 100;
    background-image: url("../../public/images/icon-close.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100%;
    background-color: inherit;
    border: 0;
}

.product-inspect-photos--close:hover{
    background-image: url("../../public/images/icon-close-orange.svg");
}

.product-inspect-photos--main{
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
}

.navigate-button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--light-grayish-blue);
    position: absolute;
    border: none;
    background-repeat: no-repeat;
    background-position: 50%;   
    z-index: 102;
}

.navigate-previous{
    left: -25px;
    background-image: url("../../public/images/icon-previous.svg");
}

.navigate-next{
    background-image: url("../../public/images/icon-next.svg");
    right: -25px;
}

.navigate-next:hover{
    background-image: url("../../public/images/icon-next-orange.svg");;
}

.navigate-previous:hover{
    background-image: url("../../public/images/icon-previous-orange.svg");;
}

.product-inspect-photos--main-photo{
    width: 100%;
    z-index: 99;
}

.product-inspect-photos--galery{
    position: relative;
    display: flex;
    width: 100%;
    z-index: 1000;
    gap:calc(100px / 3);
    margin-top:calc(100px / 3);
}

.inspect-galery--small-image{
    width: 100px;
    border: 2px solid transparent;
}

.inspect-galery--small-image:hover{
    filter: contrast(0.4);
    border: 2px solid var(--orange);
}

.shadow{
    position: absolute;
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
    top: 50%;
    left: 50%;
    z-index: 10;
}

