.app{
    max-width: 1366px;
    margin: 50px auto;
    display: flex;
    border: 1px solid red;
    flex-direction: column;
    align-items: center;
}

.app--rules-container{
    padding: 10px 40px;
    border-radius: 10px;
    border: 2px solid var(--header-outline);
    color: #fff;
    text-transform: uppercase;
    margin-left: auto;
}