.app{
    max-width: 1366px;
    margin: 50px auto;
    display: flex;
    border: 1px solid red;
    flex-direction: column;
    align-items: center;
}

.app--score{
    display: flex;
    justify-content: space-between;
    width: 650px;
    padding: 20px;
    border: 3px solid var(--header-outline);
    border-radius: 10px;
    margin-bottom: 50px;
    height: fit-content;
}

.app--score--pick{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

.app--score--score{
    background: #fff;
    padding: 15px 40px;
    border-radius: 10px;
    text-align: center;
}

.app--score--score p{
    text-transform: uppercase;
    color: var(--score-text);
    font-weight: 600;
}

.app--score--score h1{
    color: var(--dark-text);
    font-size: 52px;
}

.app--picks{
    border: 1px solid green;
    display: grid;
    grid-template-columns: repeat(150px, 2);
    grid-template-rows: repeat(150px, 2);
    grid-column-gap: 70px;
    grid-row-gap: 50px;
    background-image:url("../../public/images/bg-triangle.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 65px;
    background-size: 70%;
    justify-items: center;
}

.pick-container{
    width: 150px;
    height: 150px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.pick-image-container{
    width: 75%;
    height: 75%;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:  inset 0px 5px 0px lightgray;
}
.pick-image-container > img{

}

.rock-container{
    grid-column-start: 1;
    grid-column-end: 3;
    background: var(--rock-gradient);
    box-shadow: 0 7px 0  hsl(349, 70%, 40%);
}

.paper-container{
    background: var(--paper-gradient);
    box-shadow: 0 7px 0  hsl(234, 70%, 40%);

}

.scissors-container{
    background: var(--scissors-gradient);
    box-shadow: 0 10px 0  hsl(38, 99%, 37%);

}

.app--rules-container{
    padding: 10px 40px;
    border-radius: 10px;
    border: 2px solid var(--header-outline);
    color: #fff;
    text-transform: uppercase;
    margin-left: auto;
}